<!-- 页标题 -->
<h1 class="text-center page-title">已收集的API:</h1>
	
<!-- 搜索框 -->
<form class="search-area" role="form" action="/search">
  <div class="form-group" >
    <div class="col-md-4 col-md-offset-4 input-group input-group-lg">
    	<input type="text" name="searchvalue" class="form-control" placeholder="Enter search" value="<%= @cur_searchvalue %>">
    	<span class="input-group-btn">
        	<button class="btn btn-default search-button" type="submit" role="commit" >搜索</button>
        </span>
    </div>
  </div>
</form>

<!-- API展示 -->
<div class="col-md-8 col-md-offset-2">
	
	<% if @num != 0 %>
			<p>共 <strong><%= @num %></strong> 结果：</p>
	<% end %>
	
	<% @apis.each do |api| %>
	<div class=" col-md-3">
		<div class="panel panel-default text-center">
		  <div class="panel-heading"><p class="aip-text-display"><B><%= api.name %></B></p></div>
		  <div class="panel-body">
			  <div class="aip-img-body">
			  	<span class="help-span"></span><img class="api-img" src="/assets/<%= api.logo %>" alt="api-logo">
			  </div>
			  <hr/> 
			  <div class="aip-content-body">
		  		<p><%= api.description %></p>
		  	  </div>
		  </div>
		  <div class="panel-footer">
		  	  <p class="aip-text-display"><B>Version: </B><%= api.version %></p>
<<<<<<< HEAD
			  <p><a href="/api/<%= api.id %>" class="label label-primary">more details</a></p>
=======
			  <p><a href="/api/<%= api.id %>" class="label label-primary">More details</a></p>
>>>>>>> f3b8d5dfbf9238bb074e21ab545cb20a2f71c3e4
		  </div>
		</div>
	</div>
	<% end %>

</div>
