<!DOCTYPE html>
<html>
  <head>
    <title><%= @cur_page %></title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 引入 Bootstrap -->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrap">
    <!-- 导航栏 -->
		<nav class="navbar navbar-default" id="navbar-setting" role="navigation">
		  <div class="container-fluid">
			  
		    <!-- LOGO显示 -->
		    <div class="navbar-header ">
		      <a class="navbar-brand logo" href="/search">Okapi</a>
		    </div>
			    
			<!--搜索 上传 -->
			<% if @cur_page == "API搜索" || @cur_page == "API上传"  %>
			<ul class="nav navbar-nav">
			<li class="<%= getPageActiveCondition("API搜索") %>"><a class="page-chose" href="/search">搜索</a></li>
			<li class="<%= getPageActiveCondition("API上传") %>"><a class="page-chose" href="api/new">上传</a></li>
			</ul>
      <% end %>
		
		  </div><!-- /.container-fluid -->
		</nav>
    
    <%= yield %>
    
    <div id="push"></div>
    </div>
    
    <footer class="col-md-12 footer">
        <hr/> 
        <p class="text-center page-foot">@2016 高级软件工程课程项目</p>
    </footer>
  </body>
</html>
